<!DOCTYPE html>
<html lang="en" ng-app="cardTrade">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Magic Trader</title>
</head>
<body ng-controller="TradeController as trade">
<div class="main-container">
	<div class="jumbotron">
		<img src="/assets/img/magic-trader.png" class="logo">
	</div>

	<!-- <div ng-repeat="cardName in this.model">

	<button ng-click="this.clicked(cardName)">Click</button>
	
	</div> -->

	<main>
		<div class="row">
			
			<!-- Your Cards -->
			<div class="col-md-5 col-sm-12" >
				<h1 class="centered">Your Cards</h1>
				<div id="yourCards" class="card-well">
					<div ng-repeat="card in trade.your">
						
						<img src={{card.pic}}>
						<p>{{ card.price | currency }}</p>
						
					</div>
					<p>Total: {{0 | currency }}</p>
				</div>	
			</div>
			
			<!-- Compare Section -->
			<div class="col-md-2 col-sm-12">
				<h1 class="centered">Value</h1>
				<div id="value" class="value-well">
					<p>{{0 | currency}}</p>
				</div>
			</div>

			<!-- Want Cards -->
			<div class="col-md-5">
				<h1 class="centered">Want Cards</h1>
				<div id="wantCards" class="card-well">
					<!-- <h1><a href="{{trade.want[0].link}}">{{trade.want[0].id}}</a></h1> -->
					<img src={{trade.want[0].image}}>
					<p>{{trade.want[0].avgprice | currency}}</p>
					<p>Total: {{0 | currency}}
				</div>
			</div>
		</div>

		<!-- Search -->		
		<div class="row">
			<div class="col-md-12 search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Card Name" id="cardInput">
		      			<span class="input-group-btn">
		      			<button class="btn btn-default" type="button" id="cardSearchButton" data-toggle="modal" data-target="#cardModal" ng-click="this.clicked(cardName)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
		      			</span>
	     		</div>
			</div>
		</div>

	</div>
<!-- </div> -->


<!-- <div class="input-group">
      <input type="text" class="form-control" placeholder="Set Printed In (optional)" id="setInput">
      <span class="input-group-btn">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Set Search
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="setsDropdownMenu"> -->
    <!-- jQuery puts set names here -->
  <!-- </ul>
      </span>
    </div> -->

</main>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				Copyright &copy; Sean Capelle 2016
			</div>
		</div>
	</div>
</footer>
			<!-- Card Modal -->
	<div class="modal fade" id="cardModal" role="dialog">
		<div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Which card do you want to add?</h4>
		      </div>
		      <div class="modal-body">
		   
			  <!--  <button ng-click="save()"><span class="glyphicon glyphicon-menu-left yourCardsAdd" aria-hidden="true"></span></button>
			   <button ng-click="load()"><span class="glyphicon glyphicon-menu-right wantCardsAdd" aria-hidden="true"></span></button> -->

			    <button><span class="glyphicon glyphicon-menu-left yourCardsAdd" aria-hidden="true"></span></button>
			   <button><span class="glyphicon glyphicon-menu-right wantCardsAdd" aria-hidden="true"></span></button>

				<div class="card-view"></div>	
			      	<p>Price</p>
			      		<div class="prices"></div>
			      <div class="sets">
			      	<div class="dropdown">
  						<button class="btn btn-default dropdown-toggle" type="button" id="printingsDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Expansions
  						<span class="caret"></span>
 						</button>
  							<ul class="dropdown-menu printings" aria-labelledby="dropdownMenu2" id="printingsDropdown">
    							<!-- jQuery puts set names here -->
  							</ul>
					</div>
			      </div> 
		      <!-- </div> -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		</div>
	</div>


	<!-- </div>
	</div> -->
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	
	<!-- Front end logic -->
	<script type ="text/javascript" src="/assets/js/app.js"></script>
  
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script type="text/javascript" src="/config/angular.js"></script>
  <script type="text/javascript" src="/config/ngStorage.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</div>
</body>
</html>