<!DOCTYPE html>
<html lang="en" ng-app="cardTrade">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="assets/css/style.css" type="text/css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Magic Trader</title>
</head>
<body ng-controller="TradeController as trade">
<div class="main-container">
	<div class="jumbotron">
		<img src="assets/img/magic-trader.png" class="logo">
	</div>


	<main>
		<div class="row">
			
			<!-- Your Cards -->
			<div class="col-md-5 col-sm-12" >
				<h1 class="centered">Your Cards</h1>
				<div id="yourCards" class="card-well">
					<ul ng-repeat="card in yourCards">		
						<li><div class="card"><img src={{card.pic}}><p>{{ card.price | currency }}</p><button class="remove" ng-click="yourDelete(card)"> X </button></li>	
					</ul>
					
				</div>	
				<h1 class="centered">Total: {{ yourTotal() | currency }}</h1>
			</div>
			
			<!-- Value Section -->
			<div class="col-md-2 col-sm-12">
				<h1 class="centered">Value</h1>
				<div id="value" class="value-well">
					<h2>{{ yourTotal() - wantTotal() | currency}}</h2>
				</div>
			</div>

			<!-- Want Cards -->
			<div class="col-md-5">
				<h1 class="centered">Want Cards</h1>
				<div id="wantCards" class="card-well">
					<ul ng-repeat="card in wantCards">
						<li><div class="card"><img src={{card.pic}}><p>{{ card.price | currency }}</p><button class="remove" ng-click="wantDelete(card)"> X </button></div></li> 
					</ul>
				</div>
				<h1 class="centered">Total: {{ wantTotal() | currency}}</h1>
			</div>
		</div>

		<!-- Search -->		
		<div class="row">
			<div class="col-md-12 search">
				<div class="input-group">
					<input type="text" class="form-control"  id="cardInput" ng-model="cardName" ng-value="name">
		      			<span class="input-group-btn">
		      			<button class="btn btn-default" type="button" id="cardSearchButton" data-toggle="modal" data-target="#cardModal" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
		      			</span>
	     		</div>
			</div>
		</div>

	</div>

	</main>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				Copyright &copy; Sean Capelle 2016
			</div>
		</div>
	</div>
</footer>
			<!-- Card Modal -->
	<div class="modal fade" id="cardModal" role="dialog">
		<div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Which card do you want to add?</h4>
		      </div>
		      <div class="modal-body">
		   
			<button class="yourCardsAdd"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
			<button class="wantCardsAdd"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
			  

				<div class="card-view"></div>
					<h3> {{ name }} </h3>
					<p> {{ set }} </p>
					<img src="{{ picURL }}">
					<br>	
			      	<p>Price</p>
			    <div class="prices">
			    	<button>{{ lowPrice | currency }}</button> <button>{{ avgPrice | currency }} </button> <button>{{ highPrice | currency }}</button
			    </div>
			      <div class="sets">
				
			      	<div class="dropdown">
  						<button class="btn btn-default dropdown-toggle" type="button" id="printingsDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Expansions
  						<span class="caret"></span>
 						</button>
  							<ul class="dropdown-menu printings" aria-labelledby="dropdownMenu2" id="printingsDropdown" >
    							<div ng-repeat="set in setList">
    							<li> <p class="centered" ng-click="setPick(set)"> {{ set }} </p></li> 
    							</div>
  							</ul>
					</div>
			      </div> 
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		</div>
	</div>


	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	
	<!-- Front end logic -->
	<!-- <script type ="text/javascript" src="assets/js/app.js"></script> -->
  
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script type="text/javascript" src="config/angular.js"></script>
  

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
</div>
</body>
</html>