.logo {
    width: 50%;
    border-radius: 5px;
    margin: 5px;
}

#cardInput {
	width: 250px;
}

.title {
	font-size: 1.25em;
	margin-top: 0;
	margin-bottom: 5px;
	margin-left: 8px;
	/*position: relative;
	top: 30px;*/
	float: left;
/*	background-color: white;
	border-radius: 5px;
	border: 1px solid black;
	box-sizing: border-box;
	width: 95%;*/
}

.want-title {
	font-size: 1.25em;
	margin-top: 0;
	margin-bottom: 5px;
	margin-left: 8px;
	position: relative;
	top: 167px;
	float: left;
/*	background-color: white;
	border-radius: 5px;
	border: 1px solid black;
	box-sizing: border-box;
	width: 95%;*/
}

.price {
	font-size: 1.25em;
	margin-top: 0;
	margin-bottom: 5px;
	margin-right: 8px;
	position: relative;
	bottom: 163px;
	float: right;
}

.want-price {
	font-size: 1.25em;
	margin-top: 0;
	margin-bottom: 5px;
	margin-right: 8px;
	position: relative;
	top: 2px;
	float: right;
}

.card-well {
	height: 140px;
	width: 290px;
}

.card-well img {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 10px;
}

#value {
	position: relative;
    top: 0px;
}

.value-well {
	height: 30px;
	width: 290px;
	border-radius: 10px;
	position: relative;
	bottom: 3px;
	margin-top: 0px;
}

.value-well h2 {
	font-size: 1.5em;
	z-index: 100;
	margin: 0;
	position: relative;
	top: 4px;
}

.copyright {
	font-size: .5em;
}

/*Modal Styling*/
.modal-title {
	font-size: 1em;
}


.modal-body h3{
	margin-top: 0px;
	margin-bottom: 5px;
}

.card {
	/*margin: auto;*/
    display: block;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
.your-side {
	position: relative;
	top: 75px;
}
.want-side {
	position: relative;
	top: 75px;
}
