body{
	background-color: white;
}
.main-container{
	background-color: #b57252;
}
/*main{
	height: ;
}*/
.jumbotron{
	/*background-color: #765b39;*/
	background-color: #534742;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	color: #7b99c4;
	text-align: center;
}
.logo-div{
	background-color: white;
	border-radius: 5px;
	border: 1px solid black;
	display: inline-block;
}
.logo{
	width: 30%;
	border-radius: 10px;
	border: 4px solid white;
}
.logo-name{
	width: 42%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.centered{
	text-align: center;
}
.card-well{
	border: 1px solid black;
	border-radius: 10px;
	height: 400px;
	width: 64%;
	margin: auto;
	background-color: white;
	/*max-height: 800px;*/
    overflow-y: scroll;
}
.card-well li {
  height: 20px; 
  z-index: 0;   
  position: relative;
  display: block;    
}
.card-well li:hover {
  z-index: 9999;
}
.card-well img{
/*	width: 80%;*/
	margin: auto;
	display: block;
	margin-top: 10px;
	border-radius: 10px;
}
.card-well p{
	position: relative;
	right: 150px;
	bottom: 300px;
	text-align: center;
}
.remove{
	position: relative;
	left: 280px;
	bottom: 330px;
	text-align: center;
}
.your-value{
	float: left;
}
.want-value{
	float: right;
}
.value-well{
	border: 1px solid black;
	border-radius: 50px;
	background-color: lightblue;
	width: 100px;
	height: 100px;
	margin: auto;
}
.value-well h2{
	text-align: center;
	position: relative;
	top: 13px;
	color: white;
}
.search{
	margin: auto;
}
.input-group{
	width: 30%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
	border-radius: 5px;
}
.dropdown-menu{
    height: auto;
    max-height: 100px;
    overflow-x: hidden;
}
footer{
	background-color: #765b39;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	text-align: center;
}

/*Modal*/
.modal-body h3{
	text-align: center;
}
.modal-body img{
	margin: auto;
	display: block;
}
.modal-body p{
	font-weight: bold;
	text-align: center;
}
.sets{
	text-align: center;
}
.yourCardsAdd{
	float: left;
}
.wantCardsAdd{
	float: right;
}
#printingsDropdown{
	margin: auto;
}
